<nav class="bg-dark text-dark">
    <center>

    </center>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'welcome'%}">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gestion'%}"> Gestion </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'autenticar'%}"> Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'desautenticar'%}"> Cerrar Sesión </a>
            </li>
        </ul>
    </div>
</nav>