{% extends "master.html" %}

{% block contenido %}
<br>
<h1 class="text-center">Crear Barrio</h1>
<form method="POST"> {% csrf_token %}
    <h4 class="font-weight-bold">Datos del Barrio:</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="id_nombre">Nombre del Barrio:</label>
            <input type="text" class="form-control" name="nombre" maxlength="100" required id="id_nombres">
        </div>
    </div>
    <button type="submit" class="btn btn-success"> Crear Barrio </button>
</form>
<a class="btn btn-secondary" href="{% url 'gestion'%}" role="button">¿Volver?</a>
{% endblock %}